:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #2c3554;
  background-color: #f5f7ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #7d8cc4;
  text-decoration: inherit;
}
a:hover {
  color: #6b77a8;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #e8edff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  color: #2c3554;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #7d8cc4;
}
button:focus,
button:focus-visible {
  outline: 2px solid #7d8cc4;
  outline-offset: 2px;
}
